@font-face {
  font-family: "space";
  src: url(fonts/space_grotesk_variable.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto_slab/RobotoSlab-VariableFont_wght.ttf);
}
:root {
  --unit: 8px;
  --color-light0: hsl(234, 12%, 84%);
  --color-light1: hsl(235, 10%, 75%);
  --color-inactive: hsl(228, 2%, 46%);
  --color-active: hsl(220, 33%, 98%);
  --color-accent: hsl(240, 51%, 39%);
  --color-dark0: hsl(0, 0%, 11%);
  --color-dark1: hsl(240, 3%, 14%);
  --color-dark2: hsl(240, 3%, 17%);
  --color-dark3: hsl(240, 3%, 20%);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "roboto";
  font-weight: 400;
  background-color: var(--color-dark0);
  color: var(--color-active);
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 60px;
}
input[type="text"] {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: inherit;
  caret-color: white;
  border-style: none;
  font-family: inherit;
  padding: var(--unit);
  background-color: var(--color-dark0);
  outline: none;  
  border-radius: var(--unit);
}
input:focus {
  outline: 2px solid var(--color-accent);
}
.inactive-text {
  color: var(--color-inactive);
}
.active-text {
  color: var(--color-active);
}
.icon {
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-2x {
  width: calc(var(--unit) * 2);
  height: calc(var(--unit) * 2);
}
.icon-4x {
  width: calc(var(--unit) * 4);
  height: calc(var(--unit) * 4);
}
.edit-icon {
  background-image: url(/images/ui/icons/edit.png);
}
.delete-icon {
  background-image: url(/images/ui/icons/trashcan.png);
}
button {
  cursor: pointer;
}
.hidden {
  display: none!important;
}
.program-window {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark0);
}
.start-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: calc(var(--unit) * 5);
}
.chapter-wrapper {
  display: flex;
  gap: calc(var(--unit) * 2);
}
.chapter-container {
  cursor: pointer;  
}
.chapter-container:hover .chapter {
  transform: translateY(calc(var(--unit) * -0.5));
  background-color: var(--color-light1);
}
.chapter {
  position: relative;
  border-radius: var(--unit);
  background-color: var(--color-light0);
  width: calc(var(--unit) * 20);
  height: calc(var(--unit) * 18);
  transition: all 0.15s ease-in-out;
}
.chapter-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--unit) * 1);  
  font-weight: 500;
  background-color: var(--color-dark0);
  color: var(--color-light0);
  letter-spacing: 0.04rem;
}
.chapter-cover-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.chapter-cover-image img {
  width: 100%;
}
.mode-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mode-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--unit) * 2);
}
button.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-light0);
  padding: calc(var(--unit) * 2) calc(var(--unit) * 3);
  border-radius: var(--unit);
}
button.mode:hover {
  background-color: var(--color-light1);
}
.edit-panel, .item-list-panel {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 2);
  padding: calc(var(--unit) * 4);
}
.edit-panel {
  flex-grow: 1;
  height: 100%;
  background-color: var(--color-dark1);
}
.item-list-panel {
  width: calc(var(--unit) * 40);
  height: 100%;
  background-color: var(--color-dark1);
}
#edit-window .main-content {
  padding: calc(var(--unit) * 8);
  height: 100%;
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--unit) * 2);
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 1);
}

.input-field {
  /* background-color: var(--color-dark0); */
}
.input-field.author-name {
  height: calc(var(--unit) * 4);
  width: 100%;
}
.works {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--unit) * 1);
}
.work, .add-work-button {
  display: flex;
  flex-direction: column;
  gap: var(--unit);
  padding: calc(var(--unit) * 1);
  background-color: var(--color-dark0);
  width: calc(var(--unit) * 18);
  height: calc(var(--unit) * 18);
  border-radius: var(--unit);
}
.add-work-button {
  background-color: var(--color-dark2);
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}
.add-work-button:hover {
  background-color: var(--color-dark3);
}
.add-image-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--unit);
  height: 100%;
  padding: var(--unit);
  background-color: var(--color-dark1);
  border-radius: var(--unit);
  cursor: pointer;
}
.add-image-button:hover {
  background-color: var(--color-dark2);
}
.plus-sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar-vertical,.bar-horizontal {
  position: absolute;
  background-color: var(--color-inactive);
}
.bar-vertical {
  width: 4px;
  height: 100%;
}
.bar-horizontal {
  width: 100%;
  height: 4px;
}
.add-image-button-description {
  font-size: 0.8rem;
  color: var(--color-inactive);
}
.dataset-list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 2);
}
.dataset-item {
  position: relative;
  background-color: var(--color-dark1);
  padding: calc(var(--unit) * 2);
  border-radius: var(--unit);
  display: flex;
  flex-direction: column;
  gap: var(--unit);
  max-width: 300px;
}
.dataset-title {
  font-size: 1rem;
}
.dataset-description {
  font-size: 0.8rem;
}
.dataset-item .buttons {
  position: absolute;
  display: flex;
  gap: var(--unit);
  top: var(--unit);
  right: var(--unit);
}
.item-list-header {

}